<!-- users.edit.html.erb -->

<h3>Edit Your Account Info</h3>
<h3><%= @current_user.username %></h3>
<%= form_for @current_user do |f|%>
<%= f.label :username %> <br>
<%= f.text_field :username %><br>
<%= f.label :password %><br>
<%= f.text_field :password %><br>
<%= f.submit %>
<% end %>
<br>
<br>
<%= link_to "Delete Account", user_path, method: :delete %>

