<!-- users.new.html.erb -->
<h1>Sue's Blog</h1>
<h3>Sign Up or Log In? Current Accounts <%= link_to "Log In", login_path %>
</h3>
<br>
<br>
<br>
<h3>New Users Sign Up Here</h3>
<br>
   <%= form_for @user do |f| %>

      <%= f.label :username %>
      <%= f.text_field :username %>
    <br>
	<br>
      <%= f.label :password %>
      <%= f.text_field :password %>

      <%= f.submit "create" %>
    <% end %>
