<!-- posts.index.html.erb -->
<br>
<h1>Your Latest Blog, <%= @user.username %></h1>
<h3><%= "Title:   #{@post.title}" %></h3>
<h3><%= "Body:   #{@post.body}" %></h3>
<br>
<br>
<h1>A list of your blogs</h1>
<table border="1" style="width:100%">
   <tr>
    <td><h3>Title</h3></td>
    <td><h3>Body</h3></td>
  </tr>
<% @posts.each do |w| %>
  <tr>
    <td><%= w.title %></td>   
    <td><%= w.body %></td>
  </tr>
 <%end%>
</table>
<br>
<br>
<br>
<%= link_to "Show Last 10 User Posts", recent_posts_path %> 
<br>
<%= link_to "Log OUT ", logout_path, method: :delete %>
<br>
<%= link_to "BLOG", new_user_post_path(@user.id) %>
<br>
<%= link_to "Comment on Blogs", comment_on_comments_path %>
 