<!-- list_10.html.erb (last 10 posts) -->

<h1> Latest 10 Blog Posts </h1>
<table border="1" style="width:100%">
   <tr>    
   	<td><h3>Writer</h3></td>
    <td><h3>Title</h3></td>
    <td><h3>Body</h3></td>
  </tr>
<% @listposts.each do |w| %>
<tr>
	<td><%= w.user.username %></td>
	<td><%= w.title %></td>   
	<td><%= w.body %></td>
</tr>
<%end%>
</table>
<br>
<br>
<br>
<%= link_to "Log OUT ", logout_path, method: :delete %>
<%= link_to "BLOG", new_post_path %>

