<!-- posts.new.html.erb -->

<h3>Post Your Blog, <%= @user %></h3>
   <%= form_for @post do |f| %>

      <%= f.label :title %>
      <%= f.text_field :title %>
    <br>
	<br>
      <%= f.label :body %>
      <%= f.text_field :body %>

      <%= f.submit "create" %>
    <% end %>
<br>
<br>
<br>
<%= link_to "Log OUT ", logout_path, method: :delete %>
<br>
<br>
<%= link_to "Show Last 10 User Posts", recent_posts_path %> 
